html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{
    margin:0;
    padding:0;
}
body {
    font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-color: #fff;
    height: 100%;
    /*max-width: 640px;*/
    margin: 0 auto;
}
li, ul {
    margin: 0;
    padding: 0;
    border: none;
}
li, ul { list-style-type: none;}
img {
    border: 0;
    border: none;
    width: 85%;
}
.cl{ clear:both;}
.fl{ float: left;}
.fr{ float: right;}
.text-right { text-align: right;}
.text-center { text-align: center;}
section {
    display: block;
}
*::before, *::after {
    box-sizing: border-box;
}
.topbar {
    background: #ffa935;
}
.back_btn {
    display: block;
    width: 38px;
    height: 38px;
    float: left;
    background: url(../images/back.png) no-repeat;
    background-size: 100%;
    margin-top: 3px;
}
.page_title {
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    padding-right: 38px;
}
/*
 * 优惠卷
 */
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);  
    filter: grayscale(100%);
    filter: gray;
}
.coupon-nav,
.myorder-nav{ margin: 10px;}
.coupon-list{
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ffa935;
    background-color: #FFF;
    color: #ffa935;
}
.coupon-list li{
    float: left;
    width: 33.33%;
    text-align: center;
}
.coupon-list li.pick{
    background-color: #ffa935;
    color: #FFF;
}
.coupon-list li span.bar {
    float: left;
    width: 1px;
    height: 35px;
    background-color: #ffa935;
    vertical-align: middle;
}
.coupon-content ul{ margin: 10px;}
.myorder-content ul{ margin: 10px 0;}
.cc-all ul,.mc-all{ margin: 0;}
/*.cc-all ul li{ 
    padding: 10px 10px;
    border-bottom: 1px solid #EDEDED;
}*/
.cc-mask {
    position: relative;
    background: #fff none repeat scroll 0% 0%;
}
.cc-mask{
    opacity: 0.6;
}
.cc-all ul li .coupon-text {
    height: 60px;
    line-height: 30px;
    padding-left: 125px;
    text-shadow: 0px 0px 1px #F0F0F0;
    color: #ffa935;
}
.cc-two ul li .coupon-text{ color: #f23030;}
.cc-three ul li .coupon-text{ color: #959595;}
.cc-all ul li .coupon-text>span{
    color: #ccc;
    text-shadow: none;
}
.tab_content{ display: none !important;}
.show{ display: block !important;}

/*li.honbao {
    background-color: #fe905a;
    color: #FFF;
    border-radius: 10px;
    padding: 0.5rem;
    position: relative;
    height: 130px;
    margin-bottom: 0.5rem;
}
em.status {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1rem;
    font-style: normal;
}
.serial_number {
    border-bottom: 1px dashed #fa5e11;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
}
span.Money {
    font-size: 3rem;
    font-weight: bold;
    float: left;
}
i {
    font-size: 2rem;
    font-weight: normal;
}
h3 {
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    top: 99px;
    left: 20px;
}
.honbao .time {
    margin-top: 5.0rem;
    line-height: 24px;
}*/



.yhq-pic {
    background: url(../images/yhq.png) no-repeat;
    background-size: 100% 100%;
    height: 100px;
    margin-bottom: 10px;
}
.yhq a {
    color: #000;
}
.yhq-pic .price {
    width: 40%;
    text-align: center;
    float: left;
    color: #333;
}
.yhq-pic .price span {
    color: #cb2527;
    font-size: 2rem;
    display: block;
    padding-top: 15px;
}
.yhq-pic .price p {
    font-size: 0.8rem;
}
.yhq-pic .text {
    float: left;
    width: 50%;
}
.yhq-pic .info {
    color: #cb2527;
    margin-top: 15px;
}
.yhq-pic .user {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    color: #333;
}
.yhq-pic .time {
    font-size: 0.7rem;
    color: #333;
}
.yhq-pic .text {
    float: left;
    width: 50%;
    margin-top: -8px;
}
.gy-pic {
    position: absolute;
    padding-top: 20px;
    left: 35%;
}

