body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;-webkit-overflow-scrolling : touch;}
body,button,input,select,textarea{font:14px/1.5 tahoma,Verdana,arial,microsoft yahei,"\5b8b\4f53";*line-height:1.5;color:#676b70;}
a{color:#676b70;text-decoration:none;hide-focus:expression(this.hideFocus=true);outline:none;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,area,a,button{border:0;outline:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
input,textarea,button,select{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:0;margin:0;padding:0}
ol,ul{list-style:none;}
small{font-size:12px}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a:focus,input:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{background:#eff2f5;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.flex{display:-webkit-box;display:-moz-box;display:-webkit-flex;display: flex;-webkit-flex-flow: row wrap;
justify-content: space-around;-webkit-flex-flow:row;display:-moz-flex;-moz-flex-flow:row;display:-ms-flex;-ms-flex-flow:row;display:-o-flex;-o-flex-flow:row;display:flex;flex-flow:row;}
.hide{display:none;}
.m_b_30{margin-bottom:30px;}
.m10{margin:10px;}
@font-face{font-family: 'iconfont';font-family:'freshregular';
    src: url('../fonts/iconfont.eot?t=1'); /* IE9*/
    src: url('../fonts/../fonts/iconfont.eot?t=1#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf?t=1') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1#uxiconfont') format('svg'); /* iOS 4.1- */
    src: url('../fonts/fresh-webfont.eot');
    src: url('../fonts/fresh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fresh-webfont.woff2') format('woff2'),
         url('../fonts/fresh-webfont.woff') format('woff'),
         url('../fonts/fresh-webfont.ttf') format('truetype'),
         url('../fonts/fresh-webfont.svg#freshregular') format('svg');
}
.logo img {width: 24px;height: 24px;padding-top: 10px;padding-left: 13px;}
.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
/*边框*/
.border_top{border-top:solid 1px #dadada;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:1px 0 0 0;}
.border_bottom{-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width: 0 0 1px 0;}
.border_top_bottom{border:solid 1px #eeeeee;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width: 1px 0; }
.border_left{border-left:solid 1px #eeeeee;-webkit-border-image: url(../images/border2.gif) 0 2 round;border-image: url(../images/border2.gif) 0 2 round;border-width: 0 0 0 1px;}
.border_right{border-right:solid 1px #eeeeee;-webkit-border-image: url(../images/border2.gif) 0 2 round;border-image: url(../images/border2.gif) 0 2 round;border-width: 0 1px 0 0;}
/*四个方向箭头*/
.arrow_r{display:inline-block;width:20px;height:20px; background:url(../images/arrow.png) center no-repeat;background-size:100%;}
.arrow_d{display:inline-block;width:24px;height:24px; background:url(../images/arrow.png) center no-repeat;background-size:100%;transform:rotate(90deg)}
.arrow_l{display:inline-block;width:24px;height:24px; background:url(../images/arrow.png) center no-repeat;background-size:100%;transform:rotate(180deg)}
.arrow_u{display:inline-block;width:24px;height:24px; background:url(../images/arrow.png) center no-repeat;background-size:100%;transform:rotate(-90deg)}

.icon_edit, .icon_tel, .icon_del, .icon_star, .icon_star1, .icon_ask, .icon_answer,.icon_notice {width:20px;height:20px;background:center no-repeat;display:inline-block;background-size:100% 100%; }
/*编辑图标*/
.icon_edit{background-image:url(../images/icon_edit.png);}
/*拨打电话图标*/
.icon_tel{background-image:url(../images/icon_tel.png);}
/*删除图标*/
.icon_del{background-image:url(../images/icon_del.png);background-size:auto 100%;}
/*五角星图标*/
.icon_star{background-image:url(../images/icon_star.png);margin-right:1px;}
.icon_star1{background-image:url(../images/icon_star1.png);}
/*问答图标*/
.icon_ask{background-image:url(../images/icon_ask.png);}
.icon_answer{background-image:url(../images/icon_answer.png);}
/*通知图标*/
.icon_notice{background-image:url(../images/icon_notice.png); }
/*全局头部*/
.topbar{background:#45a1de;}
.back_btn{display:block;width:45px;height:45px;float:left;background:url(../images/back.png) no-repeat;background-size:100%;}
.top_home{display:block;width:45px;height:45px;float:right;background:url(../images/more.png) no-repeat;background-size:100%;}
.back_btn i,.top_home i{display:none;}
.page_title{text-align:center;height:45px;line-height:45px;font-size:16px;color:#fff;overflow:hidden;}
.home_menu{height:60px;display:none;border-bottom:solid 1px #dadada;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width: 0 0 1px 0;}
.home_menu a{width:25%;height:50px;display:block;text-align:center;padding:5px 0;float:left;text-shadow: 0 1px 0 #fff;}
.home_menu a i{font-size:20px;color:#2c3e50;display:block;}
.home_menu a span{font-size:12px;color:#2c3e50;}
/*底部*/
footer{background:#fff;padding-bottom:70px;clear:both;}
.footbar{height:32px;}
.footbar a{display:block;float:right;margin:-60px 0px 0px 0px;}

.index_wrapper{min-width:320px;max-width:960px;width:100%;margin:0 auto;}
.border_box{border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;}
.index-top{background:#ffa935;height:45px;}
.logo{float:right;width:50px;height:45px;overflow:hidden;}
.search-btn { background:#fff;height:29px;margin:0 50px 0 50px;line-height:29px;text-align:center;color:#bbb;border-radius:3px;position:relative;top:8px;}

.city{float:left;height:45px;width:50px;}
.city a{display:block;color:#fff;font-size:10px;padding:5px 0;}
.city a img{display:block;margin:0 auto;}
.city a span{display:block;text-align:center;font-size: 14px;}
.topmenu{float:right;}
.topmenu a{display:block;width:45px;height:45px;float:left;color:#fff;line-height:45px;text-align:center;}
.topmenu a i{font-size:24px;}

.bannerbox{width:100%;}
.banner{position:relative;overflow:hidden;min-width:320px;max-width:960px;width:100%;margin:0 auto;overflow:hidden;height:-moz-calc(100% / 640px * 240px);height:-webkit-calc(100% / 640px * 240px);height:calc(100% / 640px * 240px);background:#fff;}
.banner ul{width:100%;height:100%;position:absolute;top:0;left:0;}
.banner ul li{float:left;width:100%;height:100%;position:absolute;top:0;left:0;}
.banner ul li a{width:100%;display:block;height:100%;}
.banner ul li img{min-width:320px;max-width:960px;width:100%;height:auto;min-height:120px;max-height:360px;display:block;}
.ban-nav{position:absolute;width:54px;bottom:8px;left:50%;margin-left:-18px;}
.ban-nav i{width:5px;height:5px;background:#93a0ae;display:block;margin:0 2px;float:left;border-radius:100%;}
.ban-nav i.cur{background:#ffa935;}

.index_nav{background:#fff;}
.index_menu a{-webkit-box-flex:1;-moz-box-flex:1;width:25%;text-align:center;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;display:block;padding:10px 0;height:55px;}
.index_menu a img{display:block;width:36px;height:36px;margin:0 auto;}
.index_menu a span{font-size:12px;}
.index_menu2 a i{background:#f2432f;}

.chanpin h3 a{float:right;font-size:12px;font-weight:normal;}
.chanpin h3 a s{vertical-align:middle;position:relative;bottom:1px;right:-5px;}
.baokuan h3 a{float:right;font-size:12px;font-weight:normal;}
.baokuan h3 a s{vertical-align:middle;position:relative;bottom:1px;right:-5px;}
.bk-slide{ overflow:hidden;}
.bk-slide .swiper-wrapper a{display:block;}
.bk-slide .swiper-wrapper a img{width:100%;}

.foot-nav a.active{color: #ffa935;}
.foot-nav a:before{display:block;font-family:'freshregular';font-size:1.2rem;}
.foot-nav .homeIcon:before{content:"H";}
.foot-nav .categoryIcon:before{content:"C";}
.foot-nav .cartIcon:before{content:"G";}
.foot-nav .userIcon:before{content:"U";}

.floor{margin-bottom:10px;background:#fff;position:relative;border:solid 1px #eeeeee;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:1px 0;}
.floor h3{height:40px;line-height:40px;font-size:16px;padding:0 10px;color:#2c3e50;border-bottom:solid 1px #eeeeee;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:0 0 1px 0;}
.floor h3 i{display:inline-block;width:4px;height:16px;background:#f44623;border-radius:4px;vertical-align:middle;position:relative;bottom:2px;margin-right:5px;}
.floor ul {display:-webkit-box;display:-moz-box;display:-webkit-flex;-webkit-flex-flow:row;display:-moz-flex;-moz-flex-flow:row;display:-ms-flex;-ms-flex-flow:row;display:-o-flex;-o-flex-flow:row;display:flex;flex-flow:row;}
.floor ul li{-webkit-box-flex:1;-moz-box-flex:1;width:50%;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1; }
.floor ul li:first-child {border-right:solid 1px #eeeeee;border-width:0 1px 0 0;}
.floor ul li .aditem{width:100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;-webkit-flex-flow:row;display:-moz-flex;-moz-flex-flow:row;display:-ms-flex;-ms-flex-flow:row;display:-o-flex;-o-flex-flow:row;display:flex;flex-flow:row;/*border-bottom:solid 1px #dadada;*/-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:0 0 1px 0;}
.floor ul li .aditem:last-child{border:0;}
.floor ul li .aditem a {display:block;height: 90px; }
.floor ul li .aditem a.two{-webkit-box-flex:1;-moz-box-flex:1;width:50%;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;}
.floor ul li .aditem a.two:first-child{border-right:solid 1px #eeeeee;-webkit-border-image: url(../images/border2.gif) 0 2 round;border-image: url(../images/border2.gif) 0 2 round;border-width:0 1px 0 0;}
.floor ul li .aditem img{width:52px;display:block; margin: 10px 0px 0px 10px;}

.chanpin h3{height:40px;line-height:40px;font-size:16px;padding:0 10px;color:#2c3e50;border-bottom:solid 1px #eeeeee;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:0 0 1px 0;}
.chanpin h3 i{display:inline-block;width:4px;height:16px;background:#f44623;border-radius:4px;vertical-align:middle;position:relative;bottom:2px;margin-right:5px;}
h4{font-size: 16px;color: #232323;padding-top: 15px;padding-left: 10px;}
.zhongdian p{padding-left: 10px;font-size: 12px;}
.AD_link img{width:100%;}
.AD_link{margin-bottom:-5px;}
p.in{padding:5px 0px 0px 10px;}
p.address_in{padding:5px 0px 0px 10px;color:#ffa935;font-size:16px;}
p.in span a{float:right;padding-right:10px;font-size:10px;color:red;}
p img{width:42px;float:right;padding-right:20px;padding-bottom:10px;margin-top:-20px}

.search-form-box{background: #fff;border-radius:3px;height:30px;margin-top:8px;overflow: hidden;}
.search-form-icon{display:inline-block;}
em.search-form-icon{background-position:-60px -109px;width:20px;height: 20px;margin-left: 5px;float: left;margin-top: 5px;}
.search-form-input{height:100%;display:inline-block;width:80%;}
.search-form-input input{border:none;display:inline-block;background:none;font-size: 14px;line-height: 30px;width: 100%;vertical-align: middle;color: #9e9e9e;padding-left: 10px;}
.search-form-box img{width:20px;}
.search-form{display:inline-block;height:100%;width:100%;}

.list_Insured{margin-bottom: 10px;}
.discount{border-width: 1px 0 0 0;border-color: #ddd;overflow: hidden;}
.list_Insured ul{width: 50%;float: left;line-height: 24px;border-bottom: 1px solid #eeeeee;}
.list_Insured ul .Spacing{padding: 10px;}
.list_Insured ul .title_name{display: -webkit-box;overflow: hidden;font-size: 12px;text-align: left;height: 30px;line-height: 15px;color: #333;margin: 5px 0px;}
li.hot_img{-webkit-tap-highlight-color: rgba(0,0,0,0);outline: 0;margin: 0;padding: 0;}
.chanpin{background: #fff;margin-bottom: 12px;box-shadow: 0 1px 2px #dcdcdc;}
.list_Insured ul li .View_details{float: left;color: #FF0000;font-size: 14px;}
.clearfix:after, ul:after, li:after{display: block;content: ".";height: 0;visibility: hidden;clear: both;font-size: 0;line-height: 0;}
.list_Insured ul li .Sales{float: right;}
.list_Insured ul li .Sales .buy_btn{background: url(../images/btn_07.png) no-repeat;display: block;width: 20px;height: 20px;background-size: 20px;}

.swiper-wrapper p{overflow: hidden;font-size: 12px;line-height: 15px;color: #333;margin: 5px 0px;}
.swiper-wrapper p span{float: left;color: #FF0000;font-size: 14px;}
.swiper-wrapper ul li .Sales .buy_btn{background: url(../images/btn_07.png) no-repeat;display: block;width: 20px;height: 20px;background-size: 20px;padding-left: 10px;}
.swiper-wrapper ul li .Sales{float: right;}
.swiper-wrapper{padding-left: 5px;}

.notice{background:#fff;height:40px;line-height:40px;padding:0 10px;}
.notice dt{float:left;width:55px;color:#93a0ae;}
.notice dt img{vertical-align:middle;margin-right:5px;}
.notice dd{margin-right:55px;height:40px;overflow:hidden;}
.notice dd ul li{height:40px;line-height:40px;overflow:hidden;}

.foot-nav{position:fixed;-webkit-box-flex: 1;left:0;bottom:0;background:#f3f3f3;width:100%;overflow:hidden;z-index:99;}
.foot-nav a{float:left;width:25%;text-align:center;line-height: 1.2; }
.foot-nav a i{display:block;margin:4px auto 0;width:24px;height:24px;background:url(../images/bottom_nav.png) no-repeat;}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
.foot-nav a i{background:url(../images/bottom_nav@2x.png) no-repeat;background-size:96px 48px;}
.foot-nav a i.home{background-position:0 0;}
.foot-nav a i.cate{background-position:-24px 0;}
.foot-nav a i.cart{background-position:-48px 0;}
.foot-nav a i.user{background-position:-72px 0;}
.foot-nav a.cur i.home{background-position:0 -24px;}
.foot-nav a.cur i.cate{background-position:-24px -24px;}
.foot-nav a.cur i.cart{background-position:-48px -24px;}
.foot-nav a.cur i.user{background-position:-72px -24px;}
.foot-nav a.cur span{color:#ffa935;}
